*{
    box-sizing: border-box;
}
body{ 
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: rgb(224, 223, 211);
    display: flex;
    flex-direction: column;
}
main{
    flex: 1 0 auto;
    flex-grow: 1;   
    margin: 20px;
    background-color: rgb(173, 173, 169);
    text-align: center; 
    align-items: center;
    padding: 50px;
    padding-left: 500px;
    padding-right: 500px ;
}
main hr{
    width: 80%;
    color: rgb(82, 82, 82);
    border-style: solid;
    border-radius: 25px;
}

/* NAVBAR */

.navbar{
    z-index:1;
    top: 0;
    width: 100%;
    position:fixed;
    display: block;
    background-color: rgb(0, 0, 0); 
}
.navbar a:hover{
    background-color: rgb(90,90,90);
}
.navbar ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar li{
    float: left;
}

.dropdown a, .navbar a,.dropdown button{
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    padding: 15px;
    display: block;
    font-size: 16PX;
    font-family:'Courier New', Courier, monospace;
}

/* DROPDOWN MENUS */

.dropdown button{
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    border: none;
    cursor: pointer;
    height: 50px;
    padding: 15px;
    }
.dropdown .content{
    background-color: rgb(65, 65, 65);
    position: absolute;
    min-width: 100px;
    display: none;
}
.dropdown:hover .content{
    display:block;
}
.dropdown:hover button{
    background-color: rgb(90,90,90);
}
.dropdown{
    display: inline-block;
}



/* FOOTER */
footer {
    flex-shrink: 0;
    border-top: solid 20px rgb(82, 82, 82);
    display: flex;
    background-color: rgb(0, 0, 0);
    min-height: 600px ;
    width: 100%;
    position: absolute;
    bottom: 1;
    left: 0;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
  }
  
  footer a {
    color: whitesmoke;
    text-decoration: none;
    align-items: center;
    text-align: center;
    padding: 15px;
    display: block;
  }
  
  footer a:hover {
    background-color: rgb(90, 90, 90);
  }
  .row{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .column{
    width: 100%;
    position:static;
    height: 50%;
    list-style: none;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
  
  footer hr {
    max-height: 1px;
    width: 40%;
    color: rgb(255, 230, 0);
    border-style: solid;
    border-radius: 25px;
    
  }

/* PAGI */
.pagi{
    display: block;
    text-align: center;
    width: 20%
}
.pagi a{
    animation: charSelectUnhover 0.1s linear 0s 1 normal forwards; 
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
    color: black;
    text-decoration: none;
    padding: 8px 4px;
    display: flex;
    font-size: 1.5em;
}
.pagi a.active{
    background-color: crimson;
    font-weight: bold;
    border:5px solid black;
}
.pagi a:hover{
    animation: charSelectHover 0.1s linear 0s 1 normal forwards; 
}

@keyframes charSelectHover{
    to{transform:translateX(10px) ;}
}
@keyframes charSelectUnhover{
    from{transform:translateX(10px) ;}
}